@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #a57918;
  color: #fff8cc;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 248, 204; /* krem */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
  }
}

@layer base {
  :root {
    --background: 48 100% 99%; /* hampir putih */
    --foreground: 40 100% 5%; /* coklat tua */
    --card: 48 100% 99%;
    --card-foreground: 40 100% 5%;
    --popover: 48 100% 99%;
    --popover-foreground: 40 100% 5%;
    --primary: 42 74% 37%; /* #a57918 */
    --primary-foreground: 0 0% 100%;
    --secondary: 52 100% 90%; /* #fff8cc */
    --secondary-foreground: 40 100% 5%;
    --muted: 52 100% 95%;
    --muted-foreground: 40 10% 35%;
    --accent: 42 74% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 30% 85%;
    --input: 52 30% 85%;
    --ring: 42 74% 37%;
    --chart-1: 42 74% 37%;
    --chart-2: 35 65% 30%;
    --chart-3: 50 85% 65%;
    --chart-4: 45 80% 50%;
    --chart-5: 40 75% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 40 10% 7%; /* hitam agak coklat */
    --foreground: 52 100% 97%; /* krem muda */
    --card: 40 10% 10%;
    --card-foreground: 52 100% 97%;
    --popover: 40 10% 10%;
    --popover-foreground: 52 100% 97%;
    --primary: 42 74% 37%; /* emas tetap */
    --primary-foreground: 0 0% 100%;
    --secondary: 40 10% 20%;
    --secondary-foreground: 52 100% 97%;
    --muted: 40 10% 20%;
    --muted-foreground: 40 5% 65%;
    --accent: 42 74% 37%; /* emas aksen */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 20%;
    --input: 40 10% 20%;
    --ring: 42 74% 37%; /* outline tetap emas */
    --chart-1: 42 74% 37%;
    --chart-2: 35 65% 30%;
    --chart-3: 50 85% 65%;
    --chart-4: 45 80% 50%;
    --chart-5: 40 75% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
